.modals{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    left: 0;
    top: 0;
    display: none;
}
.modals.ModalBlock{
    display: block;
}
.modal{
    background-color: #fff;
    width: 420px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
    display: none;
}
.addSectionModal{
    height: 240px;
}
.modal.ModalBlock{
    display: block;
}
.modal .title{
    height: 60px;
    width: 100%;
    background-color: #95A68D;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 26px;
    letter-spacing: 1px;
}
.modal .content{
    height: calc(100% - 140px);
}
.modal .content .info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
}
.modal .content .info.caveat{
    position: relative;
}
.modal .content .info.caveat::after{
    content: "!";
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ff0000;
}
.modal .content .info input{
    padding-left: 10px;
    box-sizing: border-box;
    margin-left: 10px;
    height: 30px;
    width: 200px;
    font-size: 20px;
}
.modal .content .info input.caveat{
    border: 1px solid #ff0000;
}

.modal .content .buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.modal .content .buttons div{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: 4px solid rgb(155,211,127);
    background: linear-gradient(270deg,rgb(122,166,100) 50%,rgb(110,149,90) 50%);
    background: -moz-linear-gradient(270deg,rgb(122,166,100) 50%,rgb(110,149,90) 50%);
    background: -webkit-linear-gradient(270deg,rgb(122,166,100) 50%,rgb(110,149,90) 50%);
    background: -o-linear-gradient(270deg,rgb(122,166,100) 50%,rgb(110,149,90) 50%);
    text-align: center;
    line-height: 34px;
    color: rgb(175,239,143);
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}
.modal .content .buttons div:hover{
    border: 4px solid rgb(140,191,115);
    background: linear-gradient(270deg, rgb(187,255,153) 50%, rgb(168,229,137) 50%);
    background: -moz-linear-gradient(270deg, rgb(187,255,153) 50%, rgb(168,229,137) 50%);
    background: -webkit-linear-gradient(270deg, rgb(187,255,153) 50%, rgb(168,229,137) 50%);
    background: -o-linear-gradient(270deg, rgb(187,255,153) 50%, rgb(168,229,137) 50%);
    color: rgb(102,153,77);
}
.sortSectionModal{
    min-height: 300px;
}
.sortSectionModal .info{
    height: 420px !important;
    overflow: auto;
}
.sortSectionModal ul{
    width: 100%;
    height: 100%;
    display: initial;
}
.sortSectionModal ul li{
    border: 0;
    height: 60px;
    border-bottom: 1px solid #dfdfdf !important;
    width: 100% !important;
    justify-content: space-around;
}

.sortSectionModal ul li span{
    width: 50%;
    justify-content: left;
}
.sortSectionModal ul li .sort{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid rgb(155,211,127);
    background: linear-gradient(270deg,rgb(122,166,100) 50%,rgb(110,149,90) 50%);
    background: -moz-linear-gradient(270deg,rgb(122,166,100) 50%,rgb(110,149,90) 50%);
    background: -webkit-linear-gradient(270deg,rgb(122,166,100) 50%,rgb(110,149,90) 50%);
    background: -o-linear-gradient(270deg,rgb(122,166,100) 50%,rgb(110,149,90) 50%);
    color: rgb(175,239,143);
    
}
.sortSectionModal ul li .sort img{
    background: transparent;
}
.sortSectionModal ul li:hover, .sortSectionModal ul li:hover span{
    background-color: rgb(196,237,177);
    cursor: pointer;
}
.sortSectionModal ul li:hover .sort{
    border: 4px solid rgb(140,191,115);
    background: linear-gradient(270deg, rgb(187,255,153) 50%, rgb(168,229,137) 50%);
    background: -moz-linear-gradient(270deg, rgb(187,255,153) 50%, rgb(168,229,137) 50%);
    background: -webkit-linear-gradient(270deg, rgb(187,255,153) 50%, rgb(168,229,137) 50%);
    background: -o-linear-gradient(270deg, rgb(187,255,153) 50%, rgb(168,229,137) 50%);
}
.sortSectionModal ul li:hover .sort img{
    filter: invert(90%) sepia(120%) saturate(338%) hue-rotate(70deg) brightness(60%) contrast(89%);
}
.delBtn{
    position: absolute;
    right: 0;
    top: 4px;
    cursor: pointer;
    opacity: 0.5;
}
.delBtn:hover{
    opacity: 1;
}
.initialModal .info{
    margin: 30px 0;
    flex-direction: column;
}
.initialModal .info span{
   margin-bottom: 10px;
}
.openFile{
    padding-left: 10px;
    box-sizing: border-box;
    margin-left: 10px;
    height: 30px;
    min-width: 200px;
    font-size: 20px;
    border: 1px solid #000;
    display: inline-block;
    cursor: pointer;
}
.projectFile{
    display: none;
}