$WIDTH: 520px;
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}

li.fx1{
    flex: 1;
}
li.fx2{
    flex: 2;
}
li.fx3{
    flex: 3;
}
li.fx7{
    flex: 7;
}

body {
    background-color: rgb(102,102,102);
    background-size : cover;
    font-family     : arial, '微軟正黑體','Hiragino Sans GB', sans-serif;
}

#root {
    height  : 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1300px;
}

#root>div{
    width: 96%;
    height: 100%;
}
#root div>hr{
    color: #ffffff;
    border: 0;
    border-bottom: 1px dashed #ccc;
    margin: 20px 0;
    height: 2px;
}
.sectionTools{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sectionTools hr{
    width: 100%;
}
.appendSection{
    width: 260px;
    height: 46px;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 2px;
    color: rgb(187,255,153);
    background: linear-gradient(270deg, rgba(127,191,95, 1)50%, rgba(114, 172, 86, 1)50%); 
    background: -moz-linear-gradient(270deg, rgba(127,191,95, 1)50%, rgba(114, 172, 86, 1)50%); 
    background: -webkit-linear-gradient(270deg, rgba(127,191,95, 1)50%, rgba(114, 172, 86, 1)50%); 
    background: -o-linear-gradient(270deg, rgba(127,191,95, 1)50%, rgba(114, 172, 86, 1)50%); 
    border: 4px solid rgba(155,221,124,1);
}
.appendSection:hover{
    border: 4px solid rgba(140,191,115,1);
    color: rgb(106,158,81);
    background: linear-gradient(270deg, rgba(187, 255, 153, 1)50%, rgba(168, 229, 137, 1)50%); 
    background: -moz-linear-gradient(270deg, rgba(187, 255, 153, 1)50%, rgba(168, 229, 137, 1)50%); 
    background: -webkit-linear-gradient(270deg, rgba(187, 255, 153, 1)50%, rgba(168, 229, 137, 1)50%); 
    background: -o-linear-gradient(270deg, rgba(187, 255, 153, 1)50%, rgba(168, 229, 137, 1)50%); 
}

.ToolsBtns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.ToolsBtns div{
    width: 260px;
    height: 46px;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 2px;
    color: rgb(187,255,153);
    background: linear-gradient(270deg, rgba(127,191,95, 1)50%, rgba(114, 172, 86, 1)50%); 
    background: -moz-linear-gradient(270deg, rgba(127,191,95, 1)50%, rgba(114, 172, 86, 1)50%); 
    background: -webkit-linear-gradient(270deg, rgba(127,191,95, 1)50%, rgba(114, 172, 86, 1)50%); 
    background: -o-linear-gradient(270deg, rgba(127,191,95, 1)50%, rgba(114, 172, 86, 1)50%); 
    border: 4px solid rgba(155,221,124,1);
}

.ToolsBtns div:hover{
    border: 4px solid rgba(140,191,115,1);
    color: rgb(106,158,81);
    background: linear-gradient(270deg, rgba(187, 255, 153, 1)50%, rgba(168, 229, 137, 1)50%); 
    background: -moz-linear-gradient(270deg, rgba(187, 255, 153, 1)50%, rgba(168, 229, 137, 1)50%); 
    background: -webkit-linear-gradient(270deg, rgba(187, 255, 153, 1)50%, rgba(168, 229, 137, 1)50%); 
    background: -o-linear-gradient(270deg, rgba(187, 255, 153, 1)50%, rgba(168, 229, 137, 1)50%); 
}